html, body{
    height: 100%;
}



#main {

    background-color: rgb(31, 31, 31);
    
}
#page-wrapper{
    background-color: white;
    
}
#features{
    background-color: transparent;
    padding-top:0;
    margin-top: 0;
}
#features{
    background-image: url('../images/doodle-bg.jpg');
    padding-top:0;
    margin-top: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#features .container{
    padding: 20px;
    background-color: rgb(31, 31, 31);

}
#header {
    background-color: black;
    border: none;
}
#header .container{
    border: none;
    box-shadow: none;

}

.spacer {

    padding: 20px;
}



/* .product-image {
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 4px 5px 7px -5px #666;
    border-style: solid;
    border-width: 1px 0 0 1px;
    border-color: #ededed;

} */

.container{
    max-width:1200px;
    padding: 1px;
    width: 80%;
}


section{
    margin: 0;
}
/* #features {
        padding: 1em 0;
}



@media screen and (max-width: 1280px) {
    #features {
        padding: 1em 0;
    }

}


@media screen and (max-width: 736px) {
    #features {
        padding: 1em 0;
    }

} */

